body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for calendar tiles */
.task-available {
  background-color: #ffd700 !important; /* Yellow background */
  border: 2px solid #ffa500 !important; /* Orange border */
}

.react-calendar__tile--now {
  background: #bde4ff !important; /* Light blue for the current day */
  border-radius: 50%;
}
